<a href="https://colab.research.google.com/github/ABHAYB642/Linear-Regression-Toy-Dataset-/blob/main/Linear_Regression_with_Toy_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**ABHAY BIRAMANE**
# REGRESSION WITH TOY DATASET

In [ ]:
from sklearn.datasets import load_diabetes

In [ ]:
df=load_diabetes(as_frame=True)['frame']

In [ ]:
df.head(3)

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,target
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930,141.0

In [ ]:
X,y=load_diabetes(as_frame=True, return_X_y = True)

In [ ]:
X.head(3)

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930

In [ ]:
y.head(3)

0    151.0
1     75.0
2    141.0
Name: target, dtype: float64

In [ ]:
X.shape,y.shape

((442, 10), (442,))

### Get First Five Rows of Target Variable y and Feature X

In [ ]:
X[0:5]

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641

In [ ]:
y[0:5]

0    151.0
1     75.0
2    141.0
3    206.0
4    135.0
Name: target, dtype: float64

### Get Shape of Dataframe

In [ ]:
X.shape,y.shape

((442, 10), (442,))

### Get Train Test Split

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=2529)

In [ ]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((309, 10), (133, 10), (309,), (133,))

### Get Regression Model Train

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
model=LinearRegression()

In [ ]:
model.fit(X_train,y_train)

LinearRegression()

### Get Intercept and Coefficient

In [ ]:
model.intercept_

153.1751434638459

In [ ]:
model.coef_

array([ 5.15179271e-01, -2.43580668e+02,  6.04866544e+02,  3.19479607e+02,
       -7.49937158e+02,  4.24729863e+02,  5.47487466e+01,  1.27547336e+02,
        6.62229327e+02,  5.01951872e+01])

### Get Model Prediction

In [ ]:
y_pred=model.predict(X_test)

In [ ]:
y_pred.shape

(133,)

In [ ]:
y_pred

array([252.78411517, 158.72854009, 117.40759833, 142.92139833,
       181.79036712, 194.56837413, 142.52682834, 102.33508882,
        89.04983485, 233.7325978 , 138.97117425, 184.05477982,
       112.74111977, 150.86371633, 150.60938838,  82.9680574 ,
       177.06969215,  79.18661553, 157.56490471, 256.57454872,
       271.49034709, 220.97188319, 109.16634939, 150.45098671,
       237.08868175, 204.56354198, 122.38090711, 167.72328765,
       126.77966913, 136.24951985,  98.4151131 ,  80.17366786,
       184.11592174, 198.59316836, 213.1226433 , 125.46843667,
       126.03435955, 214.54352389,  94.34109174, 167.2210687 ,
       104.64087668, 170.49800456, 132.74215974,  37.18906163,
       196.2427268 , 163.09714813,  61.17290062, 132.90962489,
       177.87557743,  70.82473679, 164.26286325, 111.05972112,
       230.37917102,  66.89069715, 168.8644503 , 209.32790774,
        80.37366964, 194.15196191, 225.11542754, 142.70206428,
       181.3277894 ,  82.79289009, 152.79686734, 156.83192235,
       192.37912435, 232.48181455, 188.94576235, 178.86594339,
       200.91947539, 147.53856425,  83.17678062,  84.44723928,
       170.04624707, 147.50642272, 109.58139049, 115.05656443,
       142.01405858, 101.71017096, 110.44961847, 138.14098721,
       112.07510205,  69.7373126 , 154.39970068, 119.4894916 ,
       150.68472853, 203.06291905, 181.04748265, 201.72753408,
        75.17799349, 141.26903561, 239.85135171, 113.26605235,
       107.81599168, 151.84058991,  93.71642179,  54.43976609,
       180.95159486, 187.90000698, 201.3191982 , 207.48378053,
       161.41268972,  94.88526823, 165.55356575, 119.96920091,
       296.47527909, 106.73383135, 166.50330866, 144.04486203,
       158.02572441, 172.85095001, 173.56796225, 167.46648859,
       100.04166679, 156.51486129, 120.46095691, 174.92733833,
       133.80464386, 102.59781111,  78.12153409, 229.31994366,
       168.53173194, 180.32094382,  84.38997683, 179.30567828,
        94.47494507, 174.5484174 , 258.17135985, 156.88669229,
        85.33075058, 227.26762943,  93.73950169, 192.94533729,
       129.29321177])

### Get Model Evaluation

In [ ]:
from sklearn.metrics import mean_squared_error,mean_absolute_error, mean_absolute_percentage_error, r2_score

In [ ]:
mean_squared_error(y_test,y_pred)

3067.514486474812

In [ ]:
mean_absolute_percentage_error(y_test,y_pred)

0.44227516960084007

In [ ]:
mean_absolute_error(y_test,y_pred)

45.73462316165384

In [ ]:
r2_score(y_test,y_pred)

0.46591879698763805

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
%%capture
!wget -nc https://raw.githubusercontent.com/brpy/colab-pdf/master/colab_pdf.py
from colab_pdf import colab_pdf

In [ ]:
colab_pdf('Linear Regression with Toy Dataset.ipynb')

WARNING: apt does not have a stable CLI interface. Use with caution in scripts.


WARNING: apt does not have a stable CLI interface. Use with caution in scripts.

Extracting templates from packages: 100%
[NbConvertApp] Converting notebook /content/drive/MyDrive/Colab Notebooks/Linear Regression with Toy Dataset.ipynb to pdf
[NbConvertApp] Writing 39654 bytes to ./notebook.tex
[NbConvertApp] Building PDF
[NbConvertApp] Running xelatex 3 times: ['xelatex', './notebook.tex', '-quiet']
[NbConvertApp] Running bibtex 1 time: ['bibtex', './notebook']
[NbConvertApp] WARNING | bibtex had problems, most likely because there were no citations
[NbConvertApp] PDF successfully created
[NbConvertApp] Writing 39809 bytes to /content/drive/My Drive/Linear Regression with Toy Dataset.pdf

'File ready to be Downloaded and Saved to Drive'